@page
@model RickAndMortyWebApp.Pages.Characters.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Species)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Species)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Episodes)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Character.Episodes != null)
            {
                <ul>
                    @foreach (var episode in Model.Character.Episodes.OrderBy(a => a.Length).ThenBy(a => a))
                    {
                        <li>@episode</li>
                    }
                </ul>
            }
            else
            {
                <div>No episodes available.</div>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.OriginName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.OriginName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.OriginUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.OriginUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.LocationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.LocationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.LocationUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.LocationUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Character.Image" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Url)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Character.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Character.Created)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
